.appbar {
  .top-links-wrap {
    background: #f6f6f6;
    min-height: 13px;
    padding: 10px 0 10px;

    .section {
      padding: 0;
    }
  }

  .top-links {
    max-width: 766px;
    margin: 0 auto;

  }

  .top-links ul {
    padding: 0;
  }

  .top-links ul li {
    display: inline-block;
    margin-right: 20px;

  }

  .top-links ul li:last-child {
    margin-right: 0;
  }

  .top-links ul li .link_size_m {
    font-size: 13px !important;
    font-weight: 600;
  }

  .top-links ul img {
    width: 15px;
    margin-bottom: -2px;
    margin-right: 2px;
  }


  .top-links_link {
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 770px) {
    .top-links {
      padding: 0 12px;
    }
  }
}