@import '../../../theme/styles/settings.scss';



.link-item {
  color: black;
}

.link-item:hover {
  color: #44bb44;
}

.pravia-item {
  text-align: center;
  margin-bottom: 30px;
}

#prav-top {
  margin-top: 50px;
  margin-bottom: 40px;
}



.section-norm-document {
  color: black;
}