@import "../../../../theme/styles/settings.scss";

.section-heading {
  color: #44bb44;

}

.section-politic {
  font-size: 13px;
}

.section-subtitle {
  color: #44bb44;
}

.section-list {
  list-style-type: disc;
  padding: 0 0 0 40px;
}