@import "../../../../theme/styles/settings.scss";

.stocks-block {
  margin-top: 40px;
}

.title-stocks {
  text-decoration: none;
  color: #44bb44;
  font-size: 20px;

}

.link-stocks {
  color: #44bb44;
  font-size: 13px;
}

.data-stocks {
  color: #c5c5c5;
}