@import '../../../theme/styles/settings';

.home-banner {
  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;

    @include respond-to(mobile) {
      margin-top: 20px;
    }
  }
  p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  &-image {
    max-width: 300px;
    height: auto;
    margin-left: auto;
    align-self: center;
  }
  .button {
    margin-bottom: 20px;
  }
}

.vetcenter {
  align-self: center;
}
@media (max-width: 376px) {
  .home-banner h1 {
    font-size: 28px;
  }
}