@import '../../../theme/styles/settings.scss';

.descr-diag {
  font-size: 13px;

}

.pravia-home-privacy-menu-anchor {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.menu-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 2rem;

}

.menu-list__link {
  width: 300px;
  margin-bottom: 1rem;
  font-size: 15px;
  color: black;

}